{% extends 'base.html' %}
{% block content %}
    <h3>Registration Page</h3>
    {% for message in messages %}
        <p class="text-danger ms-3 mt-2">{{message}}</p>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group mb-3 mt-2">
            <label for="username">Choose your users name: </label>
            <input type="text" name="username" id="username" class="form-control" />
        </div>
        <div class="form-group mb-3">
            <label for="email">Enter your emal: </label>
            <input type="email" name="email" id="email" class="form-control" />
        </div>
        <div class="form-group mb-3">
            <label for="password">Enter the password: </label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>
        <div class="form-group mb-3">
            <label for="password">Repeat password: </label>
            <input type="password" name="password2" id="password2" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}